#iframe {
  /* position: relative; */
}

#canvas {
  border:2px solid #000000;
  z-index: 1000;
  /* position: absolute; */
  /* width:"600px";
   height:"600px"; */
}
.img-canvas {
  padding: 0;
    margin: auto;
    display: block;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.txt {
  margin: auto;
    display: block;
    width: 400px;
    height: 1280px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 120px;
}
.txt-pc {
  position: absolute;
  top: 5%;
  left: 15%;
  font-size: 150px;
}
.btn {
  width: 310px;
  height: 80px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 30px;
}
.group-btn {
  /* text-align: center; */
  /* position: fixed; */
  bottom: 0;
  margin:auto;
  left: 40px;
  margin-left: -90px;
}

/* .abcRioButtonLightBlue {
  margin: auto;
  margin-top: 80px;
} */
.custom-google-btn {
  position: fixed;
  top: 0px;
  right: 0px;
  /* width: 100%; */
}